In [1]:
str = "'test'"

In [2]:
print(str)

'test'

In [5]:
print("'aaa', \"aaa\"")

'aaa', "aaa"

In [6]:
print('"aaa", \'aaa\'')

"aaa", 'aaa'

In [7]:
print("김준일")

김준일

In [12]:
print("김준일\n" * 5)

김준일
김준일
김준일
김준일
김준일

In [15]:
address = "부산 동래구 중앙대로 1285번길"

In [16]:
print(address[0])

부

In [20]:
print(address[:6])

부산 동래구

In [21]:
print(address[7:])

중앙대로 1285번길

In [22]:
names = ["김준일", "김준이", "김준삼", "김준사"]

In [31]:
print(names[0][1:])
print(names[1][1:])
print(names[2][1:])
print(names[3][1:])

준일
준이
준삼
준사

In [33]:
for i in range(4):
    print(names[i][1:])

준일
준이
준삼
준사

In [34]:
print(range(10))

range(0, 10)

In [37]:
username = "aaa"

sql = f"""
select
    *
form
    user_tb
where
    username = {username}
"""

print(sql)

select
    *
form
    user_tb
where
    username = aaa

In [46]:
name = "김김일"
print(name.count("김"))
print(name.find("이"))
print(name.index("이"))

2
-1

ValueError: substring not found

In [48]:
name = "김준일"
print(name)
name = " ".join(name)
print(name)
name2 = "김준일"
name2 = name2.join(" ")
print(name2)

김준일
김 준 일